<footer class="footer py-4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>
          ,
                made with
          <i class="fa fa-heart"></i>
          by
          <a
            href="https://keenan.vip"
            class="font-weight-bold"
            target="_blank"
          >
            Keenan Chiasson
          </a>
          for all the schmoozers out there.
        </div>
      </div>
      <div class="col-lg-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-lg-end"
        >
          <li class="nav-item">
            <a
              href="https://keenan.vip"
              class="nav-link text-muted"
              target="_blank"
            >
              Keenan Chiasson
            </a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.github.com/laszlo-ratesic"
              class="nav-link text-muted"
              target="_blank"
            >
              GitHub
            </a>
          </li>
          <li class="nav-item">
            <a
              href="https://www.medium.com/@keenanrc"
              class="nav-link text-muted"
              target="_blank"
            >
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a
              href="https://app.enhancv.com/share/1e1916d5/?utm_medium=growth&utm_campaign=share-resume&utm_source=dynamic"
              class="nav-link pe-0 text-muted"
              target="_blank"
            >
              Resume
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>